$regular: 'Roboto-Regular';
$bold: 'Roboto-Bold';
$medium: 'Roboto-Medium';
$light: 'Roboto-Light';
$roboto-black: 'Roboto-Black';
$proxima: 'Proxima-Black';
$trans: .3s all ease-in-out;

//colors
$black: #4A4A49;