@font-face {
  font-family: 'Roboto-Regular';
  src: url('../fonts/RobotoR/Roboto-Regular.ttf') format('truetype'),
  url('../fonts/RobotoR/Roboto-Regular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/RobotoR/Roboto-Regular.woff') format('woff'),
  url('../fonts/RobotoR/Roboto-Regular.svg#Roboto-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto-Bold';
  src: url('../fonts/RobotoB/Roboto-Bold.ttf') format('truetype'),
  url('../fonts/RobotoB/Roboto-Bold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/RobotoB/Roboto-Bold.woff') format('woff'),
  url('../fonts/RobotoB/Roboto-Bold.svg#Roboto-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto-Medium';
  src: url('../fonts/RobotoM/Roboto-Medium.ttf') format('truetype'),
  url('../fonts/RobotoM/Roboto-Medium.eot?#iefix') format('embedded-opentype'),
  url('../fonts/RobotoM/Roboto-Medium.woff') format('woff'),
  url('../fonts/RobotoM/Roboto-Medium.svg#Roboto-Medium') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto-Light';
  src: url('../fonts/RobotoL/Roboto-Light.ttf') format('truetype'),
  url('../fonts/RobotoL/Roboto-Light.eot?#iefix') format('embedded-opentype'),
  url('../fonts/RobotoL/Roboto-Light.woff') format('woff'),
  url('../fonts/RobotoL/Roboto-Light.svg#Roboto-Light') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto-Black';
  src: url('../fonts/RobotoBlack/Roboto-Black.ttf') format('truetype'),
  url('../fonts/RobotoBlack/Roboto-Black.eot?#iefix') format('embedded-opentype'),
  url('../fonts/RobotoBlack/Roboto-Black.woff') format('woff'),
  url('../fonts/RobotoBlack/Roboto-Black.svg#Roboto-Black') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Proxima-Black';
  src: url('../fonts/ProximaBlack/ProximaNova-Black.ttf') format('truetype'),
  url('../fonts/ProximaBlack/ProximaNova-Black.eot?#iefix') format('embedded-opentype'),
  url('../fonts/ProximaBlack/ProximaNova-Black.woff') format('woff'),
  url('../fonts/ProximaBlack/ProximaNova-Black.svg#Roboto-Black') format('svg');
  font-weight: normal;
  font-style: normal;
}